######################################
### Files that git-add should ignore

*.db
*.opendb
*.obj
*.lib
*.dll
*.tlog
*.log
*.user
*.manifest
*.res
*.pdb
*.exe
*.ncb
*.sdf
*.suo
*.lastbuildstate
*.opensdf
.vs
x64
obj
lib
ipch
UpgradeReport.*
debug
release
Debug
Release
_UpgradeReport_Files
